@use '../utils/variables' as *;
@use '../utils/mixins' as mx;

.form {
    display: flex;
    flex-direction: column;
    width: 21.438rem;
    margin: 0 auto;

    &__words {
        height: 21.438rem;
        margin-bottom: $spacing-16;
        padding: $spacing-12;
        border: 2px solid var(--border-color);
        line-height: $line-hight-14;
        letter-spacing: $letter-spacing-close;
        font-size: $text-20;
        color: var(--color-input-text);
        background: var(--bg-secondary);
        border-radius: 0.75rem;
        
        &:hover {
            border-color: $purple-500;
            cursor: pointer;
        }

        &:focus-visible {
            border-color: $purple-500;
            outline: 1px solid $purple-500;
        }

        &--msg {
            display: none;
        }
    }

    &__option {
        height: 1.313rem;
        display: flex;
        align-items: center;
        gap: $spacing-10;

        &--exclude {
            margin-bottom: $spacing-12;
        }
    }

    &__checkbox {
        position: relative;
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.063rem solid var(--color-secondary-text);
        border-radius: 0.25rem;

        &--icon {
            display: none;
        }

        &:hover {
            outline-offset: 2px;
            outline: 2px solid $purple-500;
            border-color: var(--border-color);
            cursor: pointer;
        }
    }

    &__label {
        @include mx.form-text();
    }

    &__limit {
        @include mx.form-text();
        height: 1.813rem;
        width: 3.438rem;
        padding: $spacing-4 $spacing-12;
        border: 0.063rem solid var(--border-color-secondary);
        border-radius: 0.375rem;
    }

    &__reading {
        @include mx.form-text();
        height: 1.313rem;
	    margin-top: $spacing-12;
    }
}