@use '../utils/variables' as *;

.header {
    width: 23.438rem;
    padding: $spacing-16;
    display: flex;
    justify-content: space-between;

    &__logo {
        display: inline-block;
        height: 1.875rem;
        width: 11.525rem;
    }

    &__theme {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacing-6;
        background: var(--bg-secondary);
        border-radius: 0.375rem;

        &--sun {
            display: none;
        }
    }
}

.dark {
    .header__theme--sun {
        display: inline-block;
    }

    .header__theme--moon {
        display: none;
    }
}