@use '../utils/variables' as *;

.header {
    width: 23.438rem;
    padding: $spacing-16;
    display: flex;
    justify-content: space-between;

    &__logo {
        display: inline-block;
        height: 1.875rem;
        width: 11.525rem;
    }

    &__theme {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        padding: $spacing-6;
        background: var(--bg-secondary);
        border-radius: 0.375rem;

        &--sun {
            display: none;
        }
    }
}

.dark {
    .header__theme--sun {
        display: inline-block;
    }

    .header__theme--moon {
        display: none;
    }
}

@media (min-width: $breakpoint-tablet) {
    .header {
        width: 48rem;
        padding: $spacing-18 $spacing-32;

        &__logo {
            height: 2.5rem;
            width: 15.346rem;
        }

        &__theme {
            height: 2.5rem;
            width: 2.5rem;
            padding: $spacing-11;
            border-radius: 0.5rem;
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .header {
        width: 61.875rem;
        margin: $spacing-32 auto 0;
        padding: 0;
    }
}