$orange-500: hsl(15,99%,67%);
$orange-800: hsl(15,99%,43%);
$yellow-500: hsl(37,100%,50%);
$purple-400: hsl(274,90%,80%);
$purple-500: hsl(274,90%,73%);

$text-16: 1rem;
$text-20: 1.25rem;
$text-21: 1.3125rem;
$text-24: 1.5rem;
$text-40: 2.5rem;
$text-64: 4rem;

$font-primary: "DM Sans", sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

$line-hight-13: 130%;
$line-hight-14: 140%;

$letter-spacing-close: -0.6px;
$letter-spacing-tight: -1px;

$spacing-2: 0.125rem;
$spacing-4: 0.25rem;
$spacing-6: 0.375rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-11: 0.6875rem;
$spacing-12: 0.75rem;
$spacing-14: 0.875rem;
$spacing-16: 1rem;
$spacing-18: 1.125rem;
$spacing-20: 1.25rem;
$spacing-24: 1.5rem;
$spacing-27: 1.6875rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-64: 4rem;
$spacing-80: 5rem;
$spacing-93: 5.8125rem;

$radius-4: 0.25rem;
$radius-6: 0.375rem;
$radius-8: 0.5rem;
$radius-10: 0.625rem;
$radius-12: 0.75rem;
$radius-16: 1rem;
$radius-20: 1.25rem;
$radius-24: 1.5rem;
$radius-full: 999px;

$breakpoint-tablet: 48rem;